<footer class="footer page-width pad-h">
  {{#if date}}
    <div>
      <time>Posted {{moment date 'Do MMMM YYYY'}}</time>
    </div>
  {{/if}}
  <div class="footer__right">
    <a href="https://twitter.com/alisdair">@alisdair</a>
  </div>
</footer>
</body>
</html>
