<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset='utf-8'>
  <meta name="description" value="{{description}}">
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  {{#if stylesheet}}
  <link href="{{stylesheet}}" type="text/css" rel="stylesheet">
  {{/if}}
  <link rel="alternate" type="application/atom+xml" title="{{site.title}}" href="/feed.atom">
</head>
<body>
