body {
  @include body-font;

  font-size: 16px;
  line-height: 1.5;
  color: $foreground;
  background: $background;
}

code {
  @include code-font;

  font-size: 12px;
  line-height: 1.5;
}

p code, li code {
  background: $highlight-yellow;
}

h1, h2, h3, h4, h5, h6, .header--banner {
  @include heading-font;

  code {
    font-size: 1em;
  }
}

h1 {
  line-height: 1.2;
}

h2 {
  font-size: 1.4em;
}

p, pre, div {
  margin: 1.5em 0;
}

blockquote {
  border-left: 2px solid $mid-grey;
  color: $dark-grey;
  margin-left: $gutter;
  padding-left: $gutter;
}

@media screen and (min-width: 560px) {
  body {
    font-size: 20px;
  }

  code {
    font-size: 16px;
  }
}
