$gutter: 1em;
$spacing: 0.75em;

$off-black: #222;
$dark-grey: #555;
$mid-grey: #999;
$light-grey: #bbb;
$off-white: #f7f7f7;

$paper-white: #ffe;

$foreground: $off-black;
$background: white;

$site-blue: #16d;
$highlight-yellow: #ffc;

@mixin body-font {
  font-family: "Georgia", serif;
}

@mixin code-font {
  font-family: "Menlo", "DejaVu Sans Mono", "Consolas", monospace;
}

@mixin heading-font {
  font-family: "Helvetica Neue", "Helvetica", "Calibri", sans-serif;
}
