@import "pack/seed-button/_index";
@import "pack/seed-control-group/_index";
@import "pack/seed-input/_index";
@import "variables";

.mrg-h-sm {
  margin-left: 8px;
  margin-right: 8px;
}

#decoded-bits {
  rect {
    fill: transparent;

    &.span {
      fill-opacity: 0.5;
      fill: #7ED321;
    }

    &.error {
      fill-opacity: 0.5;
      fill: #E32E21;
    }
  }
}

#encoder-output {
  @include code-font;
  text-align: center;

  &.error {
    color: #d22;
  }
}

form, svg {
  display: flex;
  margin: 1.5em auto;
}
