{{> header}}

<main class="page-width" role="main">
  <article class="pad-h">
    <header>
      <h1>{{title}}</h1>
    </header>

    {{{contents}}}

    {{#each appended}}
      {{{contents}}}
    {{/each}}
  </article>
</main>

{{> footer}}
